<ion-header no-border>
    <ion-toolbar>
      <ion-back-button slot="start" defaultHref="/info" color="primary"></ion-back-button>
      <ion-label class="categorias">Desarrollador</ion-label>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
    <ion-card mode="ios">
        <ion-avatar>
          <img src="../../../assets/images/avatar_phm.jpg" class="Desarrollador" alt="">
        </ion-avatar>
        <ion-card-header padding>
          <ion-card-title class="title ion-text-center">
           Pablo Hernández Martín
          </ion-card-title>
          <ion-card-subtitle>
            Desarrollador de aplicaciones web y móvil
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content class="ion-text-center" margin>
          Esperamos que disfrutes de nuestra App
        </ion-card-content>
      </ion-card>
</ion-content>
