<ion-header no-border>
  <ion-toolbar class="transparent">
    <ion-back-button slot="start" defaultHref="/" color="primary"></ion-back-button>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen *ngIf="receta$ | async as receta">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="favService.addFav(receta.id)">
      <ion-icon name="heart-empty"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div>
  </div>
  <div>
    <ion-img src="{{receta.imgUrl}}"></ion-img>
    <div padding class="title_container">
      <ion-row class="ion-justify-content-between">
        <div class="title">{{receta.title}}</div>
        <div class="title">
          <ion-icon class="icon" name="time"></ion-icon><span class="text">{{receta.tiempo}}</span>
        </div>
      </ion-row>
    </div>
    <div class="ingredients_container" padding>
      <ion-chip *ngFor="let ingrediente of receta.ingredients">
        <ion-label>{{ingrediente}}</ion-label>
      </ion-chip>
    </div>
    <div class="description_container" padding>
      <div class="description">
        {{receta.description}}
      </div>
    </div>
  </div>
</ion-content>