<ion-header no-border>
    <ion-toolbar>
      <ion-back-button slot="start" defaultHref="/info" color="primary"></ion-back-button>
      <ion-label class="categorias">Licencias</ion-label>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
  <ion-card>
      <ion-card-header>
        <ion-card-title>Iconos</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
      </ion-card-content>
    </ion-card>

</ion-content>
