<ion-content>
  <ion-toolbar padding>
    <ion-label color="primary/*">Mis habituales</ion-label>
  </ion-toolbar>





  <ion-row class="ion-justify-content-center">
  <div *ngIf="favService.recetas.length == 0 && auth.user$ | async as user; else login">
    <div class="no_favs">
      <img class="no_favs_img" src="../../assets/icon/stew-1.svg" class="slide-image title" alt="">
      <p class="no_favs__text">Añade tus favoritas pulsando ❤ en la receta.</p>
    </div>
  </div>
</ion-row>
  <div *ngIf="favService.recetas.length > 0;">
    <div *ngIf="favService.recetas as recetas">
      <div *ngFor="let receta of recetas">
        <ion-card mode="ios" routerLink="/receta/{{receta.id}}">
          <ion-header>
            <ion-img src="{{receta.imgUrl}}"></ion-img>

          </ion-header>
          <ion-fab vertical="bottom" horizontal="end" slot="fixed">
              <ion-fab-button (click)="favService.delete(receta.id)">
                <ion-icon name="heart-dislike"></ion-icon>
              </ion-fab-button>
            </ion-fab>
          <ion-card-content>
            <ion-row>
              <div class="capitalize title">{{receta.title}}</div>
            </ion-row>
            <ion-row class="ion-justify-content-between">
              <div class="ingredients">{{receta.ingredients}}</div>
            </ion-row>
          </ion-card-content>
          <div>
          </div>
        </ion-card>
      </div>
    </div>
  </div>





  <ion-row class="ion-justify-content-center">

 <ng-template  #login>
      <ion-card mode="ios" class="login">
        <ion-avatar>
          <img src="../../assets/icon/stew-1.svg" class="slide-image title" alt="">
        </ion-avatar>
        <ion-card-header padding>
          <ion-card-title class="ion-text-center">
            Acceso
          </ion-card-title>
          <ion-card-subtitle class="ion-text-center">
              Podrás guardar tus recetas habituales  
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content class="ion-text-center">
        <ion-button fill="outline" routerLink="/login">
          <span>
            EMPEZAR
          </span>
        </ion-button>
      </ion-card-content>
      </ion-card>
    </ng-template>
  </ion-row>
</ion-content>