<ion-content>
  <ion-toolbar padding>
    <ion-label>Mis habituales</ion-label>
  </ion-toolbar>
  <ion-row class="ion-justify-content-center" padding>
    <ion-icon color="medium" src="../../assets/icon/stew-1.svg"></ion-icon>
  </ion-row>
  <ion-row class=" margin-btn ion-justify-content-center">
    <div class="subtitle">
      Aún no has añadido ninguna receta a tus habituales
    </div>
  </ion-row>

  <div *ngIf="auth.user$ | async as user; else login">

  </div>

  <ion-row class="ion-justify-content-center">
    <ng-template class="ion-justify-content-center" #login>
      <div class="ion-text-center">
        <ion-button fill="outline" routerLink="/login">
          <span>
            Identifícate
          </span>
        </ion-button>
      </div>
    </ng-template>
  </ion-row>
</ion-content>