
ion-toolbar{
    font-size: 1.5em;
    margin-bottom: 2em;
  }

  ion-icon{
      font-size: 10em;
  }
  .subtitle{
      font-size: 0.8em;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;

  }
  .margin-btn{
      margin-bottom: 3em;
  }

  .capitalize {
    text-transform: capitalize;
 }

 ion-label{
  font-weight: 300;
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
  }


  ion-card{
    ion-header{
      color:white;
      max-width: 100%;
      overflow: hidden;
      padding-bottom: 5px;
      font-size: 0.8em;
      ion-img{
        max-height: 80px;
      }
    }
    .title{
      font-size: 1.3em;
    }
    ion-icon{
        font-size: 1.5em;
    }
    .ingredients{
      font-size: 1em;
      font-weight: 300;
    }
  }

  .icon {
    display: inline-block;
    font-size: 1.3em;
    font-weight: 300;
    vertical-align: middle;
   }
   .text{
    display: inline-block;
    vertical-align: middle;
  }