
ion-toolbar{
    font-size: 1.5em;
  }

  ion-icon{
      font-size: 10em;
      padding-left: 5px;
      padding-right: 5px;
  }
  .subtitle{
      font-size: 0.8em;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;

  }
  .margin-btn{
      margin-bottom: 3em;
  }

  .capitalize {
    text-transform: capitalize;
 }

 ion-fab {
   z-index: 999;
 }

 ion-label{
  font-weight: 300;
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
  }
.no_favs{
  padding: 2rem;
  
}
.no_favs__img{
  width: 100%;
}
.no_favs__text{
  font-size: 0.8rem;
  color: grey;
  font-family: 'Roboto', sans-serif;
}


  ion-card{
    ion-header{
      color:white;
      max-width: 100%;
      overflow: hidden;
      padding-bottom: 5px;
      font-size: 0.8em;
      ion-img{
        max-height: 80px;
      }
    }
    .title{
      font-size: 1.3em;
    }
    ion-icon{
        font-size: 1.5em;
    }
    .ingredients{
      font-size: 1em;
      font-weight: 300;
    }
  }

  .icon {
    display: inline-block;
    font-size: 1.3em;
    font-weight: 300;
    vertical-align: middle;
   }
   .text{
    display: inline-block;
    vertical-align: middle;
  }
.hidden{
  display: none;
}
//estilo login
.login{

  overflow: unset;
    height: 200px;
    width: 300px;



ion-avatar{
  text-align: center;
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  
  position: relative;
  top: -50px;
      .slide-image {
          width: 100px;
      
      }
}

ion-card-header {
    position: relative;
    top: -50px;
}

ion-card-content {
    position: relative;
    top: -50px;
}

.avatar {
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
}

