<ion-content>
  <ion-row class="ion-justify-content-center" margin>
    <ion-img src="../../assets/images/logop.png" padding></ion-img>
  </ion-row>
  <!--   <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Ionic</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
      </ion-card-content>
    </ion-card>
 -->
  <ion-list lines="none">
    <ion-list-header>
      <ion-label class="categorias">Categorías</ion-label>
    </ion-list-header>
    <ion-item routerLink="/tabs/tab1/arroces" detail>
      <ion-icon slot="start" color="medium" src="../../assets/icon/rice.svg"></ion-icon>
      <ion-label>Arroces</ion-label>
    </ion-item>
    <ion-item routerLink="/tabs/tab1/legumbres" detail>
      <ion-icon slot="start" color="medium" src="../../assets/icon/beans.svg"></ion-icon>
      <ion-label>Legumbres</ion-label>
    </ion-item>
    <ion-item routerLink="/tabs/tab1/carnes" detail>
      <ion-icon slot="start" color="medium" src="../../assets/icon/meat-1.svg"></ion-icon>
      <ion-label>Carnes</ion-label>
    </ion-item>
    <ion-item routerLink="/tabs/tab1/pescados" detail>
      <ion-icon slot="start" color="medium" src="../../assets/icon/fish.svg"></ion-icon>
      <ion-label>Pescados</ion-label>
    </ion-item>
    <ion-item routerLink="/tabs/tab1/postres" detail>
      <ion-icon slot="start" color="medium" src="../../assets/icon/cupcake-2.svg"></ion-icon>
      <ion-label>Postres</ion-label>
    </ion-item>
    <ion-item routerLink="/tabs/tab1/tipicos" detail>
      <ion-icon slot="start" color="medium" src="../../assets/icon/gingerbread.svg"></ion-icon>
      <ion-label>Típicos</ion-label>
    </ion-item>
  </ion-list>
</ion-content>