<ion-header no-border>
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="/" color="primary"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides class="slide-height" pager="true">
    <ion-slide>
      <ion-card mode="ios">
        <img src="../../../assets/icon/hamburguer-1.svg" class="slide-image Titulo" alt="">
        <ion-card-header padding>
          <ion-card-title>
            Regístrate con un solo click
          </ion-card-title>
        </ion-card-header>
        <ion-card-content margin>
          lorem ipsum lorem ipsum lorem ipsum lorem ipsum
        </ion-card-content>
      </ion-card>

    </ion-slide>
    <ion-slide>
      <ion-card mode="ios">
        <img src="../../../assets/icon/ice-cream-3.svg" class="slide-image Titulo" alt="">
        <ion-card-header padding>
          <ion-card-title>
            Regístrate con un solo click
          </ion-card-title>
        </ion-card-header>
        <ion-card-content margin>
          lorem ipsum lorem ipsum lorem ipsum lorem ipsum
        </ion-card-content>
      </ion-card>

    </ion-slide>
    <ion-slide>
      <ion-card mode="ios">
        <img src="../../../assets/icon/jam-1.svg" class="slide-image Titulo" alt="">
        <ion-card-header padding>
          <ion-card-title>
            Regístrate con un solo click
          </ion-card-title>
        </ion-card-header>
        <ion-card-content margin>
          lorem ipsum lorem ipsum lorem ipsum lorem ipsum
        </ion-card-content>
      </ion-card>

    </ion-slide>
  </ion-slides>

  <ion-row class="ion-justify-content-center">
    <ion-button color="danger" expand="full" (click)="auth.googleSignin()">
      Login con Google
    </ion-button>
  </ion-row>
  <ion-row class="ion-justify-content-center" margin>
    <ion-button color="tertiary" expand="full" (click)="auth.facebookLogin()">
      Login con Facebook
    </ion-button>

  </ion-row>


</ion-content>