<ion-header no-border>
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="/" color="primary"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides class="slide-height" pager="true">
    <ion-slide>
      <ion-card mode="ios">
        <img src="../../../assets/icon/salmon.svg" class="slide-image Titulo" alt="">
        <ion-card-header padding>
          <ion-card-title>
            Haz login con un solo click
          </ion-card-title>
        </ion-card-header>
        <ion-card-content margin>
          Si haces login podrás guardar tus recetas habituales y acceder a ellas rápidamente
        </ion-card-content>
      </ion-card>

    </ion-slide>
    <ion-slide>
      <ion-card mode="ios">
        <img src="../../../assets/icon/sandwich.svg" class="slide-image Titulo" alt="">
        <ion-card-header padding>
          <ion-card-title>
            ¡Recetas típicas Españolas!
          </ion-card-title>
        </ion-card-header>
        <ion-card-content margin>
          La mejor comida, preparada como siempre.
        </ion-card-content>
      </ion-card>

    </ion-slide>
    <ion-slide>
      <ion-card mode="ios">
        <img src="../../../assets/icon/ice-cream-3.svg" class="slide-image Titulo" alt="">
        <ion-card-header padding>
          <ion-card-title>
            ¿Tienes una receta? Envíanosla
          </ion-card-title>
        </ion-card-header>
        <ion-card-content margin>
          Nos gustan las recetas. Pásanos la tuya.
        </ion-card-content>
      </ion-card>

    </ion-slide>
  </ion-slides>

  <ion-row class="ion-justify-content-center">
    <ion-button color="danger" expand="full" (click)="auth.googleSignin()">
      Login con Google
    </ion-button>
  </ion-row>
  <!-- <ion-row class="ion-justify-content-center" margin>
    <ion-button color="tertiary" expand="full" (click)="auth.facebookSignin()">
      Login con Facebook
    </ion-button>

  </ion-row> -->


</ion-content>