<ion-header no-border>
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="/" color="primary"></ion-back-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label class="capitalize">{{id}}</ion-label>
    </ion-list-header>
  </ion-list>
  <div>
    <div *ngIf="recetas$ | async as recetas">
      <div *ngFor="let receta of recetas; let i = index">
        <ion-card mode="ios" routerLink="/receta/{{receta.id}}">
          <ion-header>
            <ion-img src="{{receta.imgUrl}}"></ion-img>
          </ion-header>
          <ion-card-content>
            <ion-row>
              <div class="capitalize title">{{receta.title}}</div>
            </ion-row>
            <ion-row class="ion-justify-content-between">
              <div class="ingredients">{{receta.ingredients}}</div>
              <div>
                <ion-icon name="time"></ion-icon>{{receta.tiempo}}
              </div>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>

</ion-content>