.capitalize {
    text-transform: capitalize;
 }
 ion-label{
  font-weight: 300;
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
  }
  
 ion-label{
    font-size: 1.5em;
  }
  ion-card{
    ion-header{
      color:white;
      max-width: 100%;
      overflow: hidden;
      padding-bottom: 5px;
      font-size: 0.8em;
      ion-img{
        max-height: 80px;
      }
    }
    .title{
      font-size: 1.3em;
    }
    .ingredients{
      font-size: 1em;
      font-weight: 300;
    }
  }