<ion-header no-border>
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="/" color="primary"></ion-back-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label class="capitalize">{{id}}</ion-label>
    </ion-list-header>
  </ion-list>
  <div>
    <div *ngIf="recetas$ | async as recetas">
      <div *ngFor="let receta of recetas">
        {{receta.title}}
        {{receta.id}}
        {{receta.category}}
        {{receta.description}}
        {{receta.ingredients}}
      </div>
    </div>
  </div>

</ion-content>